/* .App {
  text-align: center;
}
.img {
  display: flex;
  height: 40px;
  width: 40px;
}
.imgContainer {
  padding: 2px;
  border: 5px;
  border-color: blue;

  max-height: 100%;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
}
.container {
  background-color: #f2f2f2;

  width: 100%;
  max-width: 800px;
  height: auto;
  max-height: 600px;
}
.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.droppable1 {
  background-color: brown;
  width: 1040px;
} */
